* {
    font-family: 'Roboto', sans-serif;
}
 /* HEADER START*/
header {
    position: relative;
}
nav {
    height: 50px;
    background-color: #212121;
    width: 100%;
    position: fixed;
    z-index: 2;
}
.menu {
    display: flex;
    justify-content: space-between;
    padding: 10px 70px;
    margin: 0;
}
.menu .menu_link {
    color: white;
    text-decoration: none;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
}

.menu .menu_item {
    border-right: 2px dotted black;
    align-items: center;
    padding-right: 3.5em; 
}
.menu .menu_item:last-child {
    border:none;
    padding-right: 0;
}

.subheader {
    position: absolute;
    top:50px;
    width: 100%;
    height: 87px;
    background: rgba(0, 0, 0, .6);
}
.subheader_logo {
    display: inline-block;
    max-width: 100%;
    margin-top: 19px;
}
.subheader_official {
    margin-top: 5px;
    font-weight: 100;
    font-size: 13px;
    color: #fff;
    opacity: .5;
}
.contact_text {
    margin-top: 19px;
    font-weight: 300;
    font-size: 12px;
    color: #fff;
    text-align: right;
}
.contact_number {
    display: block;
    font-weight: 400;
    font-size: 22px;
    line-height: 24px;
    color: #fff;
    text-align: right;
    text-decoration: none;
}
.contact_btn {
    margin-top: 22px;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    width: 172px;
    height: 46px;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    border: none;
    
}

 /* END OF HEADER */

 .promo {
    padding: 202px 0 185px 0;
    min-height: 100%;
    text-align: center;
    background: url('../img/bg/uber_bg.jpg') center center/ cover no-repeat;
    color: #fff;
 }
 .promo_header {
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    margin: 0;
 }
 .promo_subheader {
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    margin: 0;
    margin-top: 22px;
 }
 .promo_offer {
    margin-top: 16px;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
 }
.promo_button {
    display: block;
    width: 259px;
    height: 63px;
    margin: 116px auto 0 auto;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    border: none;
}
.promo_button .button_link {
    font-weight: 400;
    font-size: 18px;
    line-height: 63px;
    color:#fff;
    text-decoration: none;
}

.adv_item {
    display:flex;
    justify-content: space-around;
}
.adv_circle {
    width: 100px; height: 100px;
    background-color: blue;
    border-radius: 50%;
}